Source: armitage
Section: utils
Priority: extra
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://www.fastandeasyhacking.com/
Vcs-Git: git://dev.parrotsec.org/parrot/armitage
Vcs-Browser: https://dev.parrotsec.org/parrot/armitage

Package: armitage
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, default-jre, metasploit-framework
Description: Cyber attack management for Metasploit
 Armitage is a scriptable red team collaboration tool for Metasploit that 
 visualizes targets, recommends exploits, and exposes the advanced post-
 exploitation features in the framework.
