Source: armitage
Section: utils
Priority: optional
Maintainer: Kali Developers <devel@kali.org>
Uploaders: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 11), ant, javahelper, default-jdk
Standards-Version: 4.2.1
Homepage: http://www.fastandeasyhacking.com/
Vcs-Git: git://git.kali.org/packages/armitage.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/armitage.git;a=summary

Package: armitage
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, default-jre, metasploit-framework
Description: Cyber attack management for Metasploit
 Armitage is a scriptable red team collaboration tool for Metasploit that 
 visualizes targets, recommends exploits, and exposes the advanced post-
 exploitation features in the framework.
