Source: armitage
Section: utils
Priority: extra
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.fastandeasyhacking.com/
Vcs-Git: git://github.com/parrotsec/armitage.git
Vcs-Browser: http://github.com/parrotsec/armitage.git

Package: armitage
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, default-jre, metasploit-framework
Description: Cyber attack management for Metasploit
 Armitage is a scriptable red team collaboration tool for Metasploit that 
 visualizes targets, recommends exploits, and exposes the advanced post-
 exploitation features in the framework.
